* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #b1e4fb;
  --background-color: #163f52;
  --main-color: #0084c2;
  --container-background-color: rgb(245, 245, 245);
  --paragraph: #fff;
}

body {
  font-family: 'DM Sans', sans-serif;
  align-items: center;
}
.navbar,
.navbar-defaut {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  background-color: var(--background-color);
  padding: 10px 0;
}

.container-navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  width: 15%;
  max-width: 80px;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  flex-direction: row;
}
.navbar ul li a {
  color: var(--primary-color);
  border-bottom: 0px solid var(--primary-color);
}

.navbar ul li a:hover {
  color: #b1e4fb;
  padding-bottom: 2px;
  border-bottom: 2px solid var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

.fala-conosco {
  background-color: var(--background-color);
  font-size: bold;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.fala-conosco:hover {
  background-color: var(--main-color);
  border: 2px solid var(--background-color);
  color: var(--background-color);
  transition: all 0.2s;
}

.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--primary-color);
  padding-bottom: 30vh;
}
.banner-col-1 {
  margin-left: 2em;
  width: 50%;
  min-width: 300px;
  margin-left: 10%;
  justify-content: center;
  align-items: center;
}

.banner-col-1 h1 {
  font-size: 1.5em;
  line-height: 1.5em;
  padding-top: 20px;
}

.banner-col-1 h2 {
  font-size: 1.2em;
  line-height: 1.5em;
  padding-top: 20px;
}

.banner-col-1 p {
  font-size: 1em;
  line-height: 1.5em;
  padding-top: 20px;
}
.banner-col-1 .fala-conosco {
  margin-top: 20px;
}

.about-content {
  display: flex;
  margin: 0 auto;
  margin-top: -10vh;
  width: 80%;
  flex-wrap: wrap;
  justify-self: center;
  align-items: center;
  justify-content: center;
  gap: 1px solid;
  background-color: var(--container-background-color);
  border: 1px solid #3838383f;
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 200px;
  height: 20vh;
  justify-content: center;
  align-items: center;
}

.about-content-wrapper h2 {
  font-size: 3em;
  font-weight: bold;
  line-height: 1.5;
}

.about-content-wrapper p {
  color: var(--main-color);
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services-wrapper-tittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
.services-wrapper-tittle h1 {
  font-size: 3em;
  line-height: 1.2em;
}
.services-wrapper-tittle p {
  font-size: 1.2em;
}

.services-wrapper-container {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.services-wrapper-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.services-item {
  flex-grow: 1;
  width: 40%;
  min-width: 200px;
  height: 10vh;
  padding: 1.3em;
  border-radius: 5px;
  border: 1px solid var(--background-color);
  background-color: var(--container-background-color);
}

.services-item h3 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

.services-item p {
  font-size: 1em;
  line-height: 1em;
}

.fa-circle-check {
  color: var(--background-color);
}

.sobre-navigation {
  display: flex;
  flex-wrap: wrap;
  column-count: 2;
  padding: 30px 0;
  background-color: var(--primary-color);
  margin: 30px auto;
}
.sobre-navigation-container {
  margin: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.sobre-navigation-img {
  width: 45%;
  min-width: 300px;
}
.sobre-navigation-img img {
  border-radius: 30px;
  width: 100%;
}

.sobre-navigation-info {
  width: 45%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.sobre-navigation-info h1 {
  font-size: 0.8em;
  color: var(--main-color);
}

.sobre-navigation-info h2 {
  font-size: 1.5em;
  line-height: 2em;
}

.sobre-navigation-info p {
  font-size: 1em;
  line-height: 1.5em;
  text-align: justify;
}

.contato-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 10%;
  align-items: center;
}

.contato-container1-sobre {
  margin: 10px auto;
  width: 50%;
  min-width: 300px;
}

.contato-container1-sobre h1 {
  font-size: 2em;
  line-height: 1.5em;
}

.contato-container1-sobre button {
  border-color: #163f52;
}

.contato-container-sobre button:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: var(--paragraph);
}
.contato-container2-sobre {
  margin-top: 1em;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.contato-container2-sobre img {
  width: 100%;
  min-width: 300px;
  border-radius: 30px;
}

.list-contat {
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
}

.list-contat-item {
  font-size: 1.5em;
  line-height: 1.5em;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  background-color: var(--background-color);
  flex-direction: row;
  margin-top: 20px;
}

.container-footer-col1 {
  display: flex;
  font-size: 0.8em;
  margin-left: 10%;
  color: var(--paragraph);
  flex-direction: column;
  line-height: 1.5em;
}
.container-footer-col2 {
  margin-right: 10%;
}
.container-footer-col2 .social-icons {
  display: flex;
  font-size: 0.8em;
  color: var(--paragraph);
  flex-direction: column;
  line-height: 1.5em;
}
